/*
*********** STUDIO ***********
*/
#settings-tab.wrapper{
    width: 960px;
    height: 480px;
    border: 1px solid #2244FF;
}

/*
*********** COMMON ************
*/
button{
    padding: 20px;
    background: #666;
    color: #fff;
    font-size: 16px;
    opacity: 1;
    transition: All 0.5s ease;
}

button:hover{
    opacity: 0.8;
    transition: All 0.5s ease;
}
